{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Welcome to Joyesh's Digital Canvas!</p>
        <p>
          Greetings, wanderers of the web! I'm Joyesh, the digital artisan
          weaving this tapestry of ideas and discoveries. By day, I navigate the
          ever-evolving landscapes of Python Flask and SQLAlchemy in the tech
          realm, but by night, I immerse myself in the eclectic world of this
          blog—a hobby project born out of sheer curiosity and a passion for
          creation.
        </p>
        <p>
          This space isn't limited to a single theme; rather, it's a
          kaleidoscope of thoughts and musings. As I tinker with lines of code,
          sculpting the digital realm, I'm also exploring the vast universe of
          topics that pique my interest. From tech insights and coding escapades
          to everyday stories and life's little wonders, consider this blog a
          portal into the multifaceted mind of someone with a penchant for the
          curious and the creative.
        </p>
        <p>
          Join me on this journey as I embrace the fluidity of topics, much like
          the dynamic nature of the digital world. Python Flask and SQLAlchemy
          are my trusty companions in this endeavor, helping me craft an
          interactive space where I can share experiences, discoveries, and
          perhaps a bit of wisdom gained along the way.
        </p>
        <p>
          Expect a medley of content that reflects the ever-changing seasons of
          life—sometimes tech-heavy, other times contemplative, but always
          infused with the essence of exploration and learning. Whether you're a
          coding aficionado, a seeker of life's little revelations, or someone
          simply looking for a digital escape, you're in the right place.
        </p>
        <p>
          So, fasten your seatbelts, digital nomads and curious souls! We're
          about to embark on a journey through the vast landscapes of code,
          thoughts, and everything in between. Welcome to my digital canvas—a
          space where bits and pieces come together to form a mosaic of ideas
          and inspiration. Happy exploring!
        </p>
        <br />
        <p>Joyesh Shrestha</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
